@import 'about.css'; 
@import 'contact.css';
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.856)),url(images/BACKGROUND.jpg);
    background-size: cover;
    background-position: center;
    
}

.navbar{
    background-image: linear-gradient(-90deg, #00aeff67, #0c12189a);
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
    
}
.logos a{
    text-decoration: none;
}

.logo{
    color: rgba(255, 217, 0, 0.829);
    margin-left: 25%;
    /*color: rgb(0, 207, 207);*/
    width: 120px;
    cursor: pointer;
    position: relative;
    transition: .3s;
    padding-left: 120%;
    text-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.12);
}

.logo:hover{
    transform: translateY(.5rem);
}
.logo-wdvlx{
    max-width: 100px;
    max-height: 170px;
    position: absolute;
    margin-left: 5%;
}

.navbar ul{
    margin-right: 5%;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
    
}

.navbar ul li a{ 
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px 0px;
   
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #f59f00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}
.home_link, .about_link, .contact_link{
    transition: .5s;
}
.home_link:hover{
    transform: translateY(-.25rem);
}
.about_link:hover{
    transform: translateY(-.25rem);
}
.contact_link:hover{
    transform: translateY(-.25rem);
}

/*========================*/
.content{
    /*background-color: #f59f00;*/
    height: 500px;
    position: absolute;
    top:55%;
    transform:translateY(-50%);
    text-align: left;
    color: #fff;
    left: 50%;
    
}
.content h1{
    font-size: 40px;
}

.content p{
    margin: 20px auto;
    font-weight:100;
    line-height: 25px
}


/*========================*/
button{
    width: 200px;
    padding:15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid #ffd900a4;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    
}

span{
    background: linear-gradient(rgba(18, 185, 177, 0.644),rgba(255, 217, 0, 0.644));
    height: 100%;
    width: 0;
    border-radius: 30px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

/*========================*/
.back-image-jayther, .back-image-daniel{
    max-width: 250px;
}

.image-box-jayther{
    width: 250px;
    height: 300px;
    position: absolute;
    bottom: 0;
    top: 10%;
    left: 2%;
    padding: 20px ;
}
.image-box-daniel{
   
    width: 250px;
    height: 300px;
    position: absolute;
    bottom: 0;
    top: 10%;
    left: 25%;
    padding: 20px ;
}
.image-box-jayther img{
    position: absolute;
    transition: .5s;
}


.image-box-daniel img{
    position: absolute;
    transition: .5s;
}
.image-box-jayther:hover .back-image-jayther{
    transform: translateY(-1rem);
}
.image-box-jayther:hover .jayther-img{
    transform: translateX(-1rem);
}
.image-box-daniel:hover .back-image-daniel{
    transform: translateY(-1rem);
}
.image-box-daniel:hover .daniel-img{
    transform: translateX(1rem);
}
.jayther-img{
    max-width: 300px;
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
}

.daniel-img{
    max-width: 250px;
    position: absolute;
    top: 25%;
    left: 0;
    bottom: 0;
}


/*========================*/
.intro{
    color: rgb(252, 251, 250);
    position: absolute;
    top: 65%;
    width: 590px;
    height: 200px;
    left: 2%;
}

.intro h1{
    font-size: 25px;
    
}

.slider{
    /*background: blue;*/
    width: 600px;
    height: 290px;
    border-radius: 10px;
    overflow: hidden;
   
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;

}
.slides input{
    display: none;
}

.slide img{
    max-width: 600px;
    max-height: 300px;
    top: 10%;
}
.slide{
    width: 20%;
    transition: 2s;
}

.navigation-manual{
    /*background: #fff;*/
    position: absolute;
    width: 500px;
    margin-top: -250px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    /*background: rgb(136, 30, 30);*/
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 10px;
}
.manual-btn:hover{
    background:#40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.line{
   
    content: '';
    height: 3px;
    width: 100%;
    background: #f59f00;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
.footer{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.918)),url(images/BACKGROUND.jpg);
    background-size: cover;
    background-position: center;
}

.footer .bg-logo-box{
    width: 500px;
    height: 240px;
    position: absolute;
    background-image: linear-gradient(rgba(100, 152, 248, 0.185), rgba(0, 0, 0, 0.918));
    left: 60%;
    padding: 10px;
    border-radius: 10px;
    opacity: 10%;
}
.footer .bg-logo-box .bg-logo-footer{
    top: 10px;
    width: 500px;
    height: 240px;
    position: absolute;
}
.footer-logos{
    width: 500px;
    height: 100px;
    padding-left: 50px;
    display: flex;
    
}
.footer .footer-logos img{
    width: 150px;
    height: 70px;
    padding: 10px;
}
.footer .footer-logos h1{
    color: #fff;
    width: 150px;
    height: 70px;
    padding: 10px;
    position: absolute;
    padding-top: 18px;
    left: 15%;
}
.footer-info p{
    color: #fff;
    margin-left: 5%;
    line-height: 1.5rem;
}